asgiref
beautifulsoup4
certifi
cffi
charset-normalizer
cryptography
Django==5.2.9
adminita
django-environ
django-js-asset
django-storages
django-tinymce
django-widget-tweaks
djangorestframework
django-filter
django-cors-headers
gunicorn
idna
nh3
packaging
Pillow
protobuf
pycparser
requests
soupsieve
stripe
typing_extensions
urllib3
whitenoise
