{% load static %}
<section class="bg-slate-50 w-full py-16 sm:py-8 lg:py-8 xl:py-8 px-4 sm:px-10">
  <div class="max-w-6xl mx-auto">

    <div class="grid lg:grid-cols-2 gap-10 items-center">

      <!-- LEFT: TEXT -->
      <div class="flex flex-col justify-center gap-y-5 lg:gap-y-6 text-center lg:text-left">
        
        <h1 class="text-3xl sm:text-4xl font-serif font-medium leading-tight text-center lg:text-left text-[color:var(--color-font-main)]">
          Have You Started <strong>A Live </strong>It List?
        </h1>

        <p class="leading-relaxed text-xl mt-2">
          An ALIVE List is exactly what it sounds like - a list of things you want to get done that helps you feel </strong> alive</strong>. Big things, small things, things you're already doing and loving. 
        </p>

        <p class="leading-relaxed text-xl mt-2">
          The things you want to do, feel, experience, and be. Write it down. Share it. Add to it whenever you feel like it. It's free to join. Start your list today.
        </p>

        <div class="mt-4 flex flex-col sm:flex-row gap-3 justify-center lg:justify-start">
        {% if user.is_authenticated %}
          <a href="{% url 'accounts:dashboard' %}" 
            class="w-full sm:w-auto inline-flex items-center uppercase rounded-md justify-center px-6 py-3 text-base font-semibold bg-teal-700 text-white hover:bg-teal-800 transition">
            Go To Dashboard
          </a>
        {% else %}
          <a href="{% url 'accounts:register' %}" 
            class="w-full sm:w-auto inline-flex items-center uppercase rounded-md justify-center px-6 py-3 text-base font-semibold bg-teal-700 text-white hover:bg-teal-800 transition">
            Start My List
          </a>
        {% endif %}
        </div>

      </div>

      <!-- RIGHT: IMAGE -->
       <div class="w-full flex justify-center lg:justify-end">
  <div class="relative max-w-sm lg:max-w-md xl:max-w-lg">
    
    <!-- Soft background glow -->
    <div class="absolute inset-0 bg-gradient-to-br from-neutral-100 to-neutral-200 rounded-2xl blur-xl opacity-30"></div>

        <img src="{% static 'images/live-it-list.webp' %}" 
            alt="self improvement with ALIVE List"
            class="relative w-full h-auto object-cover rounded-2xl shadow-lg">
      
      </div>
    </div>

    </div>

  </div>
</section>