{% load static %}
<section class="bg-slate-50 w-full py-16 sm:py-8 lg:py-8 xl:py-8 px-4 sm:px-10">
  <div class="max-w-6xl mx-auto ">

    <div class="flex flex-col justify-center gap-y-5 lg:gap-y-6">
      <h1 class="text-3xl sm:text-4xl font-serif font-medium leading-tight text-center lg:text-left text-[color:var(--color-font-main)]">
        Live Your Life. Your Way.
      </h1>

      <p class="leading-relaxed text-xl mt-2">
        Stop going through the motions. Build a life that feels like yours with MORE - Momentum, Ownership, Resilience, Empowerment. Our practical resources help you move out of default mode and into intentional living. No big overhauls. Just small, steady steps that create real momentum, stronger resilience, and the confidence to make choices your way. 
          Our workbooks and guides have been created to help you live with purpose and confidence.
      </p>

      <div class="mt-4 flex flex-col sm:flex-row gap-3 justify-center lg:justify-start">
        <a href="{% url 'shop:product_list' %}" 
           class="w-full sm:w-auto inline-flex items-center uppercase rounded-md justify-center px-6 py-3 text-base font-semibold bg-teal-700 text-white hover:bg-teal-800 transition">
          Explore the Ebooks
        </a>
        <a href="{% url 'accounts:register' %}" 
           class="w-full sm:w-auto inline-flex items-center uppercase justify-center rounded-md px-6 py-3 text-base font-semibold border-2 border-teal-700 text-teal-700 hover:bg-teal-50 transition">
          Join the Community
        </a>
      </div>
    </div>

    

  </div>
</section>
